<div class="text-wrapper">
  <span class="underlined">Contact</span>
  <p class="description">
    The best place to reach me for any professional inquiries is on LinkedIn.
  </p>
  <a href="https://www.linkedin.com/in/zachtrayner" class="linkedin">
    <img src="https://res.cloudinary.com/ztrain/image/upload/c_scale,q_100,w_95/v1472331909/linkedIn.png" alt="View Zach Trayner's profile on LinkedIn" class="linkedin-image">
  </a>
  <!--<form class="form" [formGroup]="contactForm" novalidate (ngSubmit)="save(contactForm.value, contactForm.valid)" [hidden]="submitted && contactForm.valid">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" name="name" formControlName="name">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" name="_replyto" formControlName="_replyto">
    </div>
    <div class="form-group">
      <label for="message">Message:</label>
      <textarea name="message" rows="5" formControlName="message"></textarea>
    </div>
    <input type="text" name="_gotcha" style="display:none" formControlName="_gotcha"/>
    <button type="submit" class="form-submit">Send</button>
  </form>
  <div class="status" [hidden]="!submitted">
      <p class="failure" [hidden]="contactForm.valid">
          Fill in the form with real answers and resubmit.
      </p>
      <p class="success" [hidden]="!contactForm.valid">
          Thank you for reaching out. I'll be in contact with you soon!
      </p>
  </div>-->
</div>
