<div class="text-wrapper">
    <span class="underlined">About</span>
    <h1>Zach Trayner</h1>
    <h2>Web Developer</h2>
    <p>
        I am Zach Trayner.  I am a front-end developer.
        I graduated from BYU with a B.S. degree in Information Systems from the Marriott School of Management.
        I currently work at Lucid Software, home of Lucidchart and Lucidpress.  I enjoy watching and playing sports (go Jazz),
        traveling, exploring new technologies, watching movies, and spending time with my family.
    </p>
    <p>
        This site is not yet complete, and will likely be a work in progress for a time to come. I use this site more to experiment with new technologies than to showcase my abilities.
    </p>
</div>
