.left-section {
  width: 50%;
  float: left; }

.right-section {
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
  float: left; }

.img-wrapper {
  height: 100vh;
  overflow: hidden; }
  .img-wrapper img {
    width: 100%;
    margin-top: -50px; }

a.home {
  font-size: 40px; }
  a.home:before {
    transition: color .2s ease-in; }
  a.home:hover:before {
    color: #404040; }
  a.home:visited {
    color: initial; }
